// ページ遷移のアニメーションに使う

.slide-left-enter {
  transform: translateX(-300px);
  opacity: 0;
}

.slide-left-enter-active {
  transition: all 0.4s $easeOutSine;
}

.slide-left-leave-to {
  transform: translateX(300px);
  opacity: 0;
}

.slide-left-leave-active {
  transition: all 0.3s $easeOutSine;
}

// menuのアニメーション

.menu-enter {
  transform: translateY(-40px);
  opacity: 0;
}

.menu-enter-active {
  transition: all 0.4s $easeOutSine;
}

.menu-leave-to {
  transform: translateY(-40px);
  opacity: 0;
}

.menu-leave-active {
  transition: all 0.4s $easeOutSine;
}

// ローディング画面のローダーのアニメーション
@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}
